* {
	font-family: Tahoma, Arial;
}

body {
	background-image: url(http://wallpaperlayer.com/img/2015/5/dark-background-pictures-5803-6067-hd-wallpapers.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mainContainer {
	display: block;
  	top: 50%;

	line-height: ;
	margin: 20px auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 300px;
	text-align: center;
	//background-color: #ddd;
	padding: 20px;
	border: 2px dashed #939393;
	background: repeating-linear-gradient(
	  45deg,
	  #FFFFFF,
	  #FFFFFF 10px,
	  #EDEDED 10px,
	  #EDEDED 20px
	);
	box-shadow: 0px 0px 15px black;
	opacity: .8;
}

.addGroupElement {
	display: inline-block;
}

.deleteGroupElement {
	display: inline-block;
}

.submitButton {
	display: block;
	margin: 5px auto;
	width: 175px;
}

.description{
	display: block;
	font-size: 11px;
	margin-bottom: 15px;
	color: #555;
}

.groupList{
	padding: 0;
}

li {
	list-style: none;
	margin-bottom: 5px;
}

.response{
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	width:250px;
	height: 150px;
	background-color: rgba(0, 0, 20, .05);
	margin: 0px auto;
	overflow-y: scroll;
}

.responseGroupListElement{
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 1px;
	height: 16px;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 1px;
	background-color: rgba(85, 160, 180, .2);
}

a {
	text-decoration: none;
	border-bottom: 2px dotted #63B9D6;
	color: #63B9D6;
}

h1 {
	text-shadow: 0px 0px 3px #999;
	border: 2px dashed #ccc;
	line-height: 55px;
	background-color: rgba(0, 0, 20, .05);
	padding: 5px;
	margin-bottom: 15px;
}

input[type=button]{
	background-color: #fff;
	border: 1.5px dashed #aaa;
}